@import "reset.css";
@import "header.css";
@import "footer.css";
/* * {
    border: 1px solid gray;
} */

html {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    overflow: auto;
    /* margin-top: 5px; */
    /* margin-right: 20px; */
    /* margin-left: 20px; */
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:hover {
    font-weight: bolder;
    /* background-color: lightgray; */
    /* color: rgb(113, 122, 134); */
    color: #fff;
    text-shadow: #000 2px 2px 2px;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style-image: url('../img/salmon.gif');
    list-style-position: inside;
    margin: 10px 0;
}

section>h1 {
    font-size: 3em;
}

article {
    width: 100%;
    display: inline-block;
    padding: 10px;
}

article>p {
    width: 100%;
    font-size: 1.5em;
}

article>h1 {
    font-size: 2em;
    margin: 10px;
}

article>h2 {
    font-size: 1.5em;
    margin: 10px;
}

/* .article-image-right {
    background-color:lightgrey;
    padding: 0;
} */

.inline-image-left {
    float: left;
    width: 450px;
    margin: 4px 10px 0px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inline-image-right {
    float: right;
    width: 450px;
    margin: 4px 10px 0px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button {
    background-color: rgb(23, 16, 117);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}