<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Salmon Cookies</title>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- http://fontawesome.io/icons/#brand -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

</head>

<body>
    <header>
        <div id="site-name">
            <a href="../index.html" id="header-text">Salmon Cookies</a>
            <img id="header-image" src="../img/chinook.png">
        </div>
        <div id="local-nav">
            <ul>
                <li>
                    <a href="shop.html">Shop</a>
                </li>
                <li>
                    <a href="rd.html">What's New</a>
                </li>
                <li>
                    <a href="#locations">Locations</a>
                </li>
            </ul>
        </div>
        <nav id='social-nav'>
            <ul>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Contact Us" target="/views/contact.html" href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Facebook" target="_blank" href="#">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Twitter" target="_blank" href="#">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Instagram" target="_blank" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Pinterest" target="_blank" href="#">
                        <i class="fa fa-pinterest-square"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="main-content">
            <h1>Frequenty Asked Questions</h1>
            <article>
                <h2>Question</h2>
                <p> Reef Brethren of the Coast belaying pin Spanish Main hang the jib draft bilged on her anchor black jack case
                    shot fire ship. Bucko Shiver me timbers sheet cackle fruit shrouds hands Sea Legs black jack clipper
                    Sink me. Sheet nipper hornswaggle yawl blow the man down bounty hempen halter tack coxswain swing the
                    lead.
                </p>
            </article>
            <article>
                <h2>Question</h2>
                <p>Topmast line cutlass barque trysail lugsail take a caulk stern bucko starboard. Warp mizzenmast parrel snow
                    careen lad jack starboard Chain Shot hands. Gaff tackle spike spyglass take a caulk come about yard heave
                    down squiffy swab.
                </p>
            </article>
            <article>
                <h2>Question</h2>
                <p>Keelhaul brig black spot gunwalls gabion belaying pin weigh anchor heave down code of conduct hands. Rum
                    belaying pin mutiny lugger Barbary Coast gaff galleon booty reef sails smartly. Strike colors pressgang
                    wench careen holystone Corsair ballast aye Jolly Roger sheet.</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-links">
            <div id='footer-column1'>
                <ul>
                    <li>
                        <a href='rd.html'>Newest Creations</a>
                    </li>
                    <li>
                        <a href='terms.html'>Terms and Conditions</a>
                    </li>
                    <li>
                        <a href='privacy.html'>Privacy Notice</a>
                    </li>
                </ul>
            </div>

            <div id='footer-column2'>
                <ul>
                    <li>
                        <a href='faq.html'>FAQ</a>
                    </li>
                    <li>
                        <a href='about.html'>About Us</a>
                    </li>
                    <li>
                        <a href='contact.html'>Contact Us</a>
                    </li>
                    <li>
                        <a href='forecasts.html'>Forecasts</a>
                    </li>
                </ul>
            </div>
    </footer>
    <div id="locations">
        <a name="locations"></a>
        <img id='location-map' src="../img/map.png" alt="Temp Map">
    </div>


    <div class='footer-copyleft'>
        <span id='copyleft-symbol'>&copy; 2018
            <a href='https://www.beb.com'>www.beb.com</a>
        </span>
    </div>

    <!-- <script src="js/app.js"></script> -->
</body>

</html>