<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Salmon Cookies</title>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- http://fontawesome.io/icons/#brand -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
</head>

<body>
    <form>
        <fieldset>
            <legend>Add New Store</legend>
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" size="30" maxlength="100">
            <br />
            <label>Store Location:
                <input id="storeLocation" type="text" name="storeLocation" size="30" maxlength="100" />
            </label>
            <br />
            <label>Estimated minimum customers per hour:
                <input id="estMinCustPerHour" type="number" name="estMinCustPerHour" size="10" maxlength="4" />
            </label>
            <br />
            <label>Estimated maximum customers per hour:
                <input id="estMaxCustPerHour" type="number" name="estMaxCustPerHour" size="10" maxlength="4" />
            </label>
            <br />
            <label>Estimated average cookie sales per customer:
                <input id="estAverageSalesPerCustomer" type="number" name="estAverageSalesPerCustomer" size="10" maxlength="4">
            </label>
            <br />
        </fieldset>
        <button id="saveAndContinue">
            Save and Continue
        </button>
        <button id="saveAndExit">
            Save and Exit
        </button>
    </form>

    <br />
    <div id="whichButton" />

    <script src="../js/newStore.js"></script>

</body>

</html>