<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Salmon Cookies</title>
    <link rel="stylesheet" href="../css/style.css" />

    <!-- http://fontawesome.io/icons/#brand -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />

</head>

<body>
    <header>
        <div id='site-name'>
            <p>
                <a href='../index.html'>Salmon Cookies</a>
            </p>
        </div>
        <nav id='site-nav'>
            <ul>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Contact Us" target="/views/contact.html" href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Facebook" target="_blank" href="#">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Twitter" target="_blank" href="#">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Instagram" target="_blank" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Pinterest" target="_blank" href="#">
                        <i class="fa fa-pinterest-square"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="main-content">
            <h1>Our latest creations!</h1>
            <article>
                    <img class='inline-image-left' src="../img/almond-salmon-savory.jpg" />
                    <p>Swab walk the plank gunwalls bilge water landlubber or just lubber crow's nest reef pinnace gangplank barkadeer.
                        Squiffy stern black jack hang the jib Blimey hardtack
                        sloop hulk crimp.
                    </p>
                </article>
                <article>
                    <img class='inline-image-right' src="../img/lox-creamcheese-puff.jpg" />
                    <p>Fire ship yawl grog blossom lad measured fer yer chains man-of-war lass ballast yardarm handsomely. Rope's
                        end jury Cat o'nine tails tender pirate draft.
                    </p>
                </article>
                <article>
                    <img class='inline-image-left' src="../img/savory-cannoli.jpg" />
                    <p>Run a shot across the bow pink boatswain six pounders topmast quarter draught doubloon mizzen reef sails.
                        Pink lee cable Blimey Port Davy Jones' Locker
                        Barbary Coast measured fer yer chains jolly boat Sink me Gold Road killick.
                    </p>
                </article>
                <article>
                        <img class='inline-image-right' src="../img/sweet-treats.jpg" />
                        <p>Run a shot across the bow pink boatswain six pounders topmast quarter draught doubloon mizzen reef sails.
                            Pink lee cable Blimey Port Davy Jones' Locker
                            Barbary Coast measured fer yer chains jolly boat Sink me Gold Road killick.
                        </p>
                    </article>
                </section>
    </main>
    <footer>
        <div class="footer-links">
            <div id='footer-column1'>
                <ul>
                    <li>
                        <a href='rd.html'>Newest Creations</a>
                    </li>
                    <li>
                        <a href='terms.html'>Terms and Conditions</a>
                    </li>
                    <li>
                        <a href='privacy.html'>Privacy Notice</a>
                    </li>
                </ul>
            </div>

            <div id='footer-column2'>
                <ul>
                    <li>
                        <a href='faq.html'>FAQ</a>
                    </li>
                    <li>
                        <a href='about.html'>About Us</a>
                    </li>
                    <li>
                        <a href='contact.html'>Contact Us</a>
                    </li>
                    <li>
                        <a href='forecasts.html'>Forecasts</a>
                    </li>
                </ul>
            </div>
            <div class='footer-column3'>
                <div>
                    <img id='location-map' src="../img/selection_004.gif" alt="Temp Map" />
                </div>
            </div>

    </footer>

    <div class='footer-copyleft'>
        <span id='copyleft-symbol'>&copy; 2018
            <a href='https://www.beb.com'>www.beb.com</a>
        </span>
    </div>

    <!-- <script src="js/app.js"></script> -->
</body>

</html>