<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Salmon Cookies</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/shop.css" />


    <!-- http://fontawesome.io/icons/#brand -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

</head>

<body>
    <header>
        <div id="site-name">
            <a href="../index.html" id="header-text">Salmon Cookies</a>
            <img id="header-image" src="../img/chinook.png">
        </div>
        <div id="local-nav">
            <ul>
                <li>
                    <a href="shop.html">Shop</a>
                </li>
                <li>
                    <a href="rd.html">What's New</a>
                </li>
                <li>
                    <a href="#locations">Locations</a>
                </li>
            </ul>
        </div>
        <nav id='social-nav'>
            <ul>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Contact Us" target="/contact.html" href="#">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Facebook" target="_blank" href="#">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Twitter" target="_blank" href="#">
                        <i class="fa fa-twitter-square"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Instagram" target="_blank" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="socialLinkWrapper">
                    <a class="socialLink" title="Pinterest" target="_blank" href="#">
                        <i class="fa fa-pinterest-square"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="shop-main">
        <section id="shop-section">
            <article>
                <img src="../img/the-original.jpg">
                <h2>The Original Salmon Cookie</h2>
                <div id="tiny-text"><p>If you don't like them, we guarantee your dog will! (Regardless, all sales are final.)</p></div>
                <p>$29.99/dozen</p>
                </ul>
            </article>
            <article>
                <img src="../img/family.jpg">
                <h2>Salmon Cookies Stepford Family Experience</h2>
                <div id="tiny-text"><p>Specially trained for holiday parties for all seasons.</p></div>
                <p>$1,999.00/day</p>
            </article>
            <article>
                <img src="../img/cutter.jpeg">
                <h2>Sweet Cookie Cutter</h2>
                <div id="tiny-text"><p>You can probably find them cheaper at goodwill. That's where we got these.</p></div>
                <p>$49.99/ea</p>
            </article>
            <article>
                <img src="../img/fish.jpg">
                <h2>Looks like a handmade pillow?</h2>
                <div id="tiny-text"><p>Something you'll spend a lot of money on and your dog will shred it in a week.</p></div>
                <p>$399.99/ea</p>
            </article>
            <article>
                <img src="../img/frosted-cookie.jpg">
                <h2>Frosted Salmon Cookies</h2>
                <div id="tiny-text"><p>Helps mask the flavor of old, leftover salmon we get from the sushi industry.</p></div>
                <p>$39.99/dozen</p>
            </article>
            <article>
                <img src="../img/shirt.jpg">
                <h2>Really Awesome Shirt</h2>
                <div id="tiny-text"><p>Makes a great white elephant gift.</p></div>
                <p>$79.99/ea</p>
            </article>
        </section>
    </main>
    <footer>
        <div class="footer-links">
            <div id='footer-column1'>
                <ul>
                    <li>
                        <a href='rd.html'>Newest Creations</a>
                    </li>
                    <li>
                        <a href='terms.html'>Terms and Conditions</a>
                    </li>
                    <li>
                        <a href='privacy.html'>Privacy Notice</a>
                    </li>
                </ul>
            </div>

            <div id='footer-column2'>
                <ul>
                    <li>
                        <a href='faq.html'>FAQ</a>
                    </li>
                    <li>
                        <a href='about.html'>About Us</a>
                    </li>
                    <li>
                        <a href='contact.html'>Contact Us</a>
                    </li>
                    <li>
                        <a href='forecasts.html'>Forecasts</a>
                    </li>
                </ul>
            </div>
    </footer>
    <div id="locations">
        <a name="locations"></a>
        <img id='location-map' src="../img/map.png" alt="Temp Map" />
    </div>


    <div class='footer-copyleft'>
        <span id='copyleft-symbol'>&copy; 2018
            <a href='https://www.beb.com'>www.beb.com</a>
        </span>
    </div>

    <!-- <script src="js/app.js"></script> -->
</body>

</html>